@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Praise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Manuale:wght@300&display=swap');

@import url('./variables.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--colour-bg);
    font-family: 'Lora', serif;
}

header {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    background-color: var(--colour-primary);
    box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
}

#a-postify {
    margin: 0 auto;
    text-decoration: none;
}

h1 {
    font-family: 'Lobster', cursive;
    padding: .25rem;
    background: linear-gradient(to right, white, white 50%, midnightblue 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    cursor: pointer;
}

h1:hover {
    background-position: 0 100%;
}

input {
    font-family: 'Lora', serif;
}

textarea {
    font-family: 'Lora', serif;
    resize: none;
}

h2 {
    width: fit-content;
    padding: 1rem;
    font-family: 'Manuale', serif;
    font-size: 22px;
}

footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    background-color: var(--colour-neutral-700);
    color: white;
    height: fit-content;
    width: 100%;
}

footer p {
    padding: 10px 30px 10px 30px;
}

.form-heading-container {
    border-bottom: 3px solid var(--colour-bg);
}

.form-left {
    display: flex;
    width: 40%;
    flex-direction: column;
}

.form-body-container {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-between;
}

.gif-container {
    width: 70%;
    margin-left: 1rem;
    margin-right: 1rem;
}

.gif-search-container {
    width: 300px;
    display: flex;
    margin-bottom: 1rem;
}

.gif-scrolling-displayer {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    gap: .5rem;
    width: 100%;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: black;
}

.div-gif-wrap {
    outline-offset: -5px;
    box-sizing: border-box;
    height: fit-content;
    width: fit-content;
}

#a-postify {
    margin: 0 auto;
    text-decoration: none;
}

#go-back-btn {
    position: absolute;
    top: 6px;
    left: 4px;
    text-decoration: none;
}

#a-go-back-btn {
    position: absolute;
    top: 6px;
    left: 4px;
    text-decoration: none;
}

#go-back-btn {
    position: relative;
    height: 30px;
    width: 30px;
    padding: .25rem;
    cursor: pointer;
}

#go-back-btn:hover {
    opacity: .5;
}

#add-entry-form {
    width: 90%;
    margin: 0 auto;
    margin-top: 6rem;
    padding-bottom: 3rem;
    background-color: var(--colour-secondary);
    border-radius: 5px;
}

#title-input {
    padding: .2rem;
    text-indent: 5px;
    width: 100%;
    margin-bottom: 1rem;
}

#entry-content {
    min-width: 250px;
    padding: .2rem;
    width: 100%;
    height: 100%;
    text-indent: 5px;
}

#search-input {
    width: 100%;
    text-indent: 5px;
}

#search-icon {
    padding: .1rem;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

#search-icon:hover {
    opacity: .5;
}

#remove-gif-icon {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

#remove-gif-icon:hover {
    opacity: .5;
}

#submit-btn {
    display: block;
    margin: 20px auto 0 auto;
    box-shadow: 3px 4px 0px 0px #899599;
	background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color: var(--colour-primary);
	border-radius: 15px;
	border: 1px solid var(--colour-bg);
	cursor: pointer;
	color:black;
	font-size:17px;
    font-weight: 700;
    font-family: 'Manuale', serif;
	padding: 7px 25px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #e1e2ed;
}

#submit-btn:hover {
    background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:var(--colour-bg);
}

#submit-btn:active {
    position: relative;
	top: 1px;
}

@media screen and (max-width: 620px) {
    .form-body-container {
        flex-direction: column;
        align-items: center;
    }

    .form-left {
        width: 100%;
        margin-bottom: 1rem;
    }

    #add-entry-form {
        width: 100%;
        margin-top: 3.5rem;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    #entry-content {
        width: 100%;
    }

    .gif-container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 1rem;
    }

    .gif-scrolling-displayer {
        width: 100%;
    }

    .gif-search-container {
        width: 100%;
    }
}