@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Praise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Manuale:wght@300&display=swap');

@import url('./variables.css');

* {
    box-sizing: border-box;
    margin: 0;
    border: 0px;
    padding: 0;
}

body {
    background-color: var(--colour-bg);
    font-family: 'Lora', serif;
}

header {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    background-color: var(--colour-primary);
    box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
}

#a-postify {
    margin: 0 auto;
    text-decoration: none;
}

h1 {
    font-family: 'Lobster', cursive;
    padding: .25rem;
    background: linear-gradient(to right, white, white 50%, midnightblue 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    cursor: pointer;
}

h1:hover {
    background-position: 0 100%;
}
#a-new-post {
    position: absolute;
    top: 9px;
    right: 15px;
    text-decoration: none;
}


#new-post-btn {
    position: relative;
    height: 30px;
    width: 30px;
    padding: .25rem;
    cursor: pointer;
}

#new-post-btn:hover {
    opacity: .5;
}

main {
    position: relative;
    min-height: 100vh;
}

#greyed-out {
    background-color: rgba(0, 0, 0, 0.45);
    z-index: -100;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#comment-section {
    position: fixed;
    display: grid;
    grid-template-rows: 80% 20%;
    background-color: var(--colour-bg);
    border-radius: 5px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.333);
    padding: 20px;
    z-index: -100;
    top: 5%;
    bottom: 5%;
    left: 10%;
    right: 10%;
    transition: right 300ms, left 300ms, bottom 300ms, top 300ms;
}

.inner-comment-box{
    z-index: -99;
    background-color: var(--colour-bg);
    margin: auto;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.comment-card {
    margin: 5px;
    padding: 5px;
    background-color: var(--colour-neutral-700);
    border-radius: 5px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.333);
    width: auto;
    height: auto;
}

.comment-date {
    font-size: 14px;
    color: var(--colour-accent);
}

.comment-body {
    font-size: 20px;
    margin-top: 4px;
    padding-left: 8px;
    padding-bottom: 2px;
    word-wrap: break-word;
    color: var(--colour-accent)
}


.comment-create {
    z-index: -99;
    background-color: var(--colour-bg);
    margin: auto;
    width: 100%;
    height: 100%;
}

#comment-form {
    padding: 5px;
    display: grid;
    grid-template-columns: 90% 10%;
    height: 100%;
}

#comment-input {
    resize: none;
    background-color: var(--colour-neutral-700);
    color: var(--colour-accent);
}

#comment-post-btn {
    background-color: #99c7a0;
}

/* #background-box {
    position: fixed;
    background-color: yellow;
    z-index: -99;
    top: 5%;
    bottom: 5%;
    left: 10%;
    right: 10%;
    transition: right 300ms, left 300ms;
} */

#the-biggest-id-in-this-project {
    background-color: var(--colour-bg);
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
}

#gallery {
    padding-top: 5rem;
    background-color: var(--colour-bg);
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding-bottom: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}


.post-card {
    display: grid;
    grid-template-rows: 10% 1fr 6%;
    width: 400px;
    height: 550px;
    /* border: 1px solid black; */
    margin: 15px 10px;
    transition: width 300ms;
}

/* .post-card:hover {
    box-shadow: 3px 3px rgba(0, 0, 0, 0.333);
    transition: all 5000ms;
} */

.post-top {
    background-color: var(--colour-primary);
    display: flex;
    padding: 0 20px;
    /* border-bottom: 1px solid black; */
    border-radius: 5px;
    margin-bottom: 3px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.333);
}

h4.post-heading {
    align-self: center;
    font-size: 1.2em;
    word-wrap: break-word;
    word-break: break-all;
    font-family: 'Manuale', serif;
}

.post-body {
    background-color: var(--colour-secondary);
    padding: 5px 20px 20px;
    overflow: auto;
    border-radius: 5px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.333);
}

/* width */
.post-body::-webkit-scrollbar {
    width: 10px;
}
/* Track */
.post-body::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  /* Handle */
.post-body::-webkit-scrollbar-thumb {
    background-color: #787e80;
    border-radius: 20px;
    border: 6px solid transparent;
}
/* Handle on hover */
.post-body::-webkit-scrollbar-thumb:hover {
    background: #a8bbbf;
}

.post-body-gif {
    width: 100%;
    border: 5px solid white;
    margin-bottom: 5px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.333);
}

.post-body-text {
    border-left: 4px double white;
    padding: 6px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 5px;
    word-wrap: break-word;
}

.post-bottom {
    background-color: var(--colour-secondary);
    padding: 0 20px;
    /* border-top: 1px solid black; */
    display: grid;
    grid-template-columns: 65% 35%;
    border-radius: 5px;
    margin-top: 3px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.333);
}

.emojis-container {
    display: flex;
    flex: row;
    justify-content: space-around;
}

.emoji-button {
    border: 1px solid white;
    width: 30%;
    margin: auto;
    font-size: 18px;
    text-align: center;
    background-color: var(--colour-accent);
    border-radius: 5px;
}

.emoji-clicked {
    background-color: rgba(128, 255, 0, 0.9);
    /* border: 1px solid; */
}

.comments-button {
    justify-self: right;
    border: 1px solid white;
    width: 85%;
    text-align: center;
    margin: auto;
    font-size: 18px;
    background-color: var(--colour-primary);
    border-radius: 5px;
}

.comments-button:hover, .emoji-button:hover {
    background-color: rgba(255, 255, 255, 0.65);
    border: 1px solid white;
    color: white;
    cursor: pointer;
    transition: color 200ms;
}

.text-hidden {
    font-size: 0 !important;
    height: 15px;
    width: 15px;
}

#load-btn {
    display: block;
    padding: 20px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid white;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    color: var(--colour-neutral-700);
    background-color: var(--colour-primary);
}

#load-btn:hover {
    background-color: var(--colour-neutral-700);
    border: 1px solid white;
    color: var(--colour-primary);
    cursor: pointer;
    transition: color 800ms;
}

.no-more-msg {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 20px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid white;
    color: var(--colour-accent);
    background-color: var(--colour-neutral-700);
}

footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    background-color: var(--colour-neutral-700);
    color: white;
    height: fit-content;
    width: 100%;
}

footer p {
    padding: 10px 30px 10px 30px;
}

@media screen and (max-width: 856px) {
    #gallery {
        margin-top: 2.5rem;
    }

    div.post-card {
        grid-template-rows: 10% 1fr 10%;
        width: 350px;
        height: 500px;
        margin: 10px 5px;
    }
    .post-heading {
        font-size: 1em;
    }
}

@media screen and (max-width: 736px) {
    div.post-card {
        grid-template-rows: 10% 1fr 10%;
        width: 300px;
        height: 450px;
        margin: 10px 5px;
    }
}

@media screen and (max-width: 636px) {
    div.post-card {
        grid-template-rows: 10% 1fr 10%;
        width: 275px;
        height: 450px;
        margin: 10px 5px;
    }

    .post-bottom div {
        font-size: 14px;
    }
}

/* @media screen and (max-width: 620px) {
    footer {
        margin-top: 3rem;
    }
} */

@media screen and (max-width: 590px) {
    div.post-card {
        grid-template-rows: 10% 1fr 10%;
        width: 350px;
        height: 500px;
        margin: 10px 5px;
    }

    .post-bottom div {
        font-size: 16px;
    }

    #comment-section {
        left: 0%;
        right: 0%;
        top: 3%;
        bottom: 10%;
    }
    
    
    #comment-form {
        grid-template-columns: 80% 20%;
    }
}

@media screen and (max-width: 296px) {
    .post-bottom div {
        font-size: 14px;
    }
}
